@model MySocialPet.Models.ViewModel.Foros.EnviarMensajeViewModel

<div class="bg-foro pb-5">
    <div class="container">
        <div style="height: 15vh;"></div>
        <div class="row">
            <h2 class="fs-2 fw-bold text-uppercase m-0">@(Model.IdMensajePadre.HasValue ? "Responder a mensaje" : "Nuevo mensaje")</h2>
            <form asp-action="EnviarMensaje" method="post" enctype="multipart/form-data" id="mensajeForm">
                <input type="hidden" asp-for="IdDiscusion" />
                <input type="hidden" asp-for="IdMensajePadre" />

                <div class="form-group my-4">
                    <label asp-for="Contenido"></label>
                    <textarea asp-for="Contenido" class="form-control"></textarea>
                    <span asp-validation-for="Contenido" class="text-danger"></span>
                </div>

                <div class="form-group my-4">
                    <label asp-for="Imagen">Adjuntar imagen</label>
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                    <input asp-for="Imagen" name="Imagen" type="file" class="form-control" />
                </div>

               
                <a asp-action="HiloDetails"
                   asp-route-slug="@Model.Slug"
                   asp-route-foroId="@Model.IdForo"
                   asp-route-discId="@Model.IdDiscusion"
                   class="text-decoration-none btn btn-verde border-1 border-verde">
                    <i class="bi bi-arrow-left ">Volver</i>
                </a>

                <button type="submit" class="btn primary">
                    @(Model.IdMensajePadre.HasValue ? "Responder" : "Enviar")
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("mensajeForm");
        const submitButton = form.querySelector('button[type="submit"]');
        let isSubmitting = false;

        form.addEventListener("submit", (e) => {
            if (isSubmitting) {
                e.preventDefault(); // cancelar doble envío
                return;
            }
            isSubmitting = true;
            submitButton.disabled = true;
            submitButton.innerText = "Enviando...";
        });
    });
</script>
